name: Try CI
on: push
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      # - name: Set context
      #   id: output_context
      #   env:
      #     GITHUB_CONTEXT: ${{ toJson(github) }}
      #   run: echo "$GITHUB_CONTEXT"

      # - name: Format score
      #   id: format_score
      #   uses: actions/github-script@7a5c598405937d486b0331594b5da2b14db670da # v6
      #   with:
      #     script: |
      #       const text = ${{ steps.output_context}};
      #       console.log('text: ', text)

      - name: Do Work
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo '::set-output name=FAV_NUMBER::3'
          echo '::set-output name=FAV_COLOR::blue'
          LOCAL_RUN_ID = $($GITHUB_CONTEXT | jq '.run_id')
          echo $LOCAL_RUN_ID
        id: abc

      - name: Read Output
        run: |
          echo "${{steps.abc.outputs.FAV_NUMBER}}"
          echo "${{steps.abc.outputs.FAV_COLOR}}"
          # echo "${{steps.abc.outputs.RUN_ID}}"
